html body {
  padding-top: 0;
  background: #fff;
  font-size: 14px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background: url('../images/linedpaper.png');
} 

/* ===============
 * Application
 * =============== */
#application {
  padding: 20px;
}

#buttons.left { width: 200px; display: inline-block; text-align: left; }

h1 { 
  font-size: 60px; 
  text-align: center;
}

div#area {
  clear: both;
  overflow: hidden;
  display: table;
  width: 100%;
  border: 1px solid #cfcfcf;
  background: white;
}
div#editor { 
  width: 100%;
  overflow: hidden;
  background: white;
  border-top: 1px solid #cfcfcf;
}

div#editor #buttons {
  padding: 5px; 
  padding-bottom: 0;
  background: white;
  border-bottom: none;
  width: auto;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  width: 120px;
  display: inline-block;
  float: left;

}

div#editor #list {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}


hr {
  border: none;
  height: 4px;
  display: block;
  background-color: #f0f0f0;
  margin: 10px 0;
}


a {
  text-decoration: none;
  padding: 0 2px;
  color: #002ab3;
  cursor: pointer;
}
a:hover { color: white; background-color: #002ab3; }


#active {
  color: black;
  background: #f0f0f0;
  border-top: 1px solid #ffffff;
  padding-right: 20px;
  padding-bottom: -5px;;
  padding-top: 8px;
  line-height: 0;
}

#active textarea {
  width: 100%;
  background: none;
  border: none;
  outline: none !important;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1.3em;
  resize: none;
  word-wrap: break-word;
  white-space:pre;
}

ul {
	margin: 0;
  display: block;
  padding-left: 20px;
  font-size: 20px;
  color: #212121;
	
}
ul ul {
  border: 1px solid #cfcfcf;
  margin: 5px 0;
}
li {
  display: list-item;
  background-color: white;

  margin-left: 5px;
	padding: 5px;
  padding-left: 20px;

  border-left: 1px solid #cfcfcf;
  border-bottom: 1px dotted #cfcfcf;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

ul { background: #ffffff; }
ul ul { background: #f0f0f0; }
ul ul ul { background: #ffffff; }
ul ul ul ul { background: #f0f0f0; }


ul li { font-size: 20px; }
ul li ul li { font-size: 18px; }
ul li ul li ul li { font-size: 16px; }
ul li ul li ul li ul li { font-size: 14px; }
ul li ul li ul li ul li { font-size: 12px; }

strong, b { font-weight: bold; }
em, i { font-style: italic;}


#all {
  border: none !important;
  margin-right:  0 !important
}


#editor textarea#raw {
  font-size: 13px;
  min-height: 300px;
  width: 100%;
  border: 1px solid #cecece;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  border-sizing: border-box;
  -webkit-border-sizing: border-box;
  padding: 10px 0;
  background: white;
  color: black;
}


.clear { clear : both; }
.top-bar { 
  clear: both; background: white; 
  overflow: hidden;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}

#buttons a {
  display: inline-block;
  width: 20px;
  height: 22px;
  margin: 0 0px;
  background: white;
  background-position: center center;
  border: 1px solid white;
  background-repeat: no-repeat;
}

#buttons a:hover {
  border: 1px solid #cfcfcf;
  background-color: #e6e6e6;
}

#buttons a#undent { margin-left: 0; background-image: url('../images/text_indent_remove.png'); }
#buttons a#indent { background-image: url('../images/text_indent.png'); }
#buttons a#up { background-image: url('../images/arrow_up.png'); }
#buttons a#down { background-image: url('../images/arrow_down.png'); }
#buttons a#link { background-image: url('../images/world_link.png'); }
#buttons a#italic { background-image: url('../images/text_italic.png'); }
#buttons a#bold { background-image: url('../images/text_bold.png'); }
#keybindings { 
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  width: 230px;
  font-size: 12px;
  background: #fcfcfc;
  display: none;
  opacity: 0;
  margin: 0;
  vertical-align: top;
  border-bottom: 1px dotted #cfcfcf;
  border-left: 1px solid #cfcfcf;
  padding: 15px;
  padding-top: 0;
  margin-left: 20px;
  background: white;
  position: relative;
}

#footer {
  text-align: center;
}




a#keys { 
  float: right;
  display: inline-block;
  width: auto;
  border-left: 1px solid #cfcfcf;
  line-height: 31px;
  background-image: url('../images/keyboard.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  height: 32px;
  padding-right: 10px;
  font-family: Verdana, sans;
  font-size: 11px;
  color: black;
  padding-left: 35px;

}

a#keys span {
  color: black;
  border-left: 1px solid #cfcfcf;
  padding-left: 8px;
  line-height: 10px;
  height: 10px;
  color: #002ab3;
  
}

a#keys:hover {
  color: #002ab3;
  background-color: white;
}

a#keys.enabled {
  background-color: #fcfcfc;
  font-size: 13px;
  color: #002ab3;
}
a#collapse {
  left: 20px;
  bottom: 20px;
  position: absolute;
  font-family: Verdana;
}
a#keys.enabled:hover {
}

#keybindings.visible { display: table-cell; }

#keybindings h2 a {
  font-size: 11px;
  float: right;
  line-height: 16px;
  margin-top: 8px;
}

#keybindings h2 {
  font-size: 15px;
  line-height: 30px;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  width: auto;
  color: #002ab3;
  font-family: Verdana, sans;
}

#keybindings .basic .left {
  display: block;

}
#keybindings .basic .right {
  display: block;
}
#keybindings .advanced {
  display: none;
}
span.key {
  border: 1px solid #cfcfcf;
  background: white;
  display: inline-block;
  padding: 0px 5px;
  line-height: 18px;
  margin-top: 3px;
  font-size: 15px;
}
